# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [9]:
chipo.shape[1]

5

In [3]:
chipo.head(10)
#chipo['choice_description'][4]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
chipo.info()#

# OR

chipo.shape[0]
# 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

4622

### Step 6. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [13]:
chipo.quantity.value_counts()

1     4355
2      224
3       28
4       10
15       1
7        1
10       1
5        1
8        1
Name: quantity, dtype: int64

### Step 10. How many items were ordered?

In [14]:
mostOrd = chipo.item_name.value_counts().max() #or mostOrd = chipo["item_name"].max()
mostOrd

726

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
chipo.choice_description.value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [11]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. Turn the item price into a float

In [16]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [17]:
chipo.item_price.head(5)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [13]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [14]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average amount per order?

In [17]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['item_price']

# Or 

#chipo.groupby(by=['order_id']).sum().mean()['item_price']

18.81142857142869

In [18]:
order_grouped

          quantity  item_price
order_id
1                4       11.56
2                2       16.98
3                2       12.67
4                2       21.00
5                2       13.70
6                2       17.50
7                2       15.70
8                2       10.88
9                3       10.67
10               2       13.20
11               2       12.38
12               2       14.37
13               2       10.88
14               2       10.08
15               2       10.88
16               2       10.68
17               2       10.08
18               4       24.90
19               2       13.90
20               4       36.20
21               3       23.36
22               2       12.98
23               3       11.17
24               2       12.07
25               2       11.38
26               2       20.50
27               2       13.90
28               4       33.70
29               2       17.98
30               3       23.36
...            ...         ...
1805             2       20.00
1806             4       13.00
1807             2       18.64
1808             2       13.70
1809             3       14.45
1810             2       23.00
1811             3       29.25
1812             4       22.50
1813             2       17.50
1814             2       13.70
1815             2       12.50
1816             2       13.20
1817             4       13.00
1818             2       18.14
1819             2       13.20
1820             2       12.50
1821             2       13.70
1822             4       23.00
1823             3       12.15
1824             3       26.95
1825             6       66.50
1826             4       15.95
1827             5       32.95
1828             3       14.45
1829             3       24.25
1830             2       23.00
1831             3       12.90
1832             2       13.20
1833             2       23.50
1834             3       28.75

[1834 rows x 2 columns]

### Step 17. How many different items are sold?

In [16]:
chipo.item_name.value_counts().count()

50